<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<title>Chicago Public Schools - Testing</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">-->
</head>

<body ng-app="testApp" ng-controller="TestCtrl">
<div class="container">

	<h2>English versions</h2>
	<h3>Parent Application</h3>
	<p class="lead">Click <a href="index.html" ng-click="loginAsStudent('9dbee232-138e-4717-a5f1-62e96c7a92e1')">here</a> to navigate to parent application as though you were a test user</p>

	<h3>Admin Application</h3>
	<p class="lead">Click <a href="admin.html" ng-click="loginAsAdmin('9c09d301-8242-4320-bc02-90f2a286f2ef')">here</a> to navigate to admin application as though you were a test user</p>
	<p class="lead">Click <a href="admin.html" ng-click="loginAsAdmin('5808ca87-b262-4da8-ba22-9a574a5e98c3')">here</a> to navigate to admin application as though you were a super user</p>

	<h2>Spanish version</h2>
	<h3>Parent Application</h3>
	<p class="lead">Click <a href="index_es.html" ng-click="loginAsStudent('9dbee232-138e-4717-a5f1-62e96c7a92e1')">here</a> to navigate to parent application as though you were a test user</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="scripts/testing.js"></script>

</body>
</html>
