<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<title>Chicago Public Schools - Testing</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">-->
</head>

<body ng-app="testApp" ng-controller="TestCtrl">
<div class="container">

	<h1><strong>English versions</strong></h1>
	<hr>
	<h3><strong>Parent Application</strong></h3>
	<p class="lead"><a href="index.html" class="btn btn-success" ng-click="loginAsStudent('9dbee232-138e-4717-a5f1-62e96c7a92e1')">Click here</a> to navigate to <strong>parent application</strong> as though you were a <strong>test user</strong></p>

	<h3><strong>Admin Application</strong></h3>
	<p class="lead"><a href="admin.html" class="btn btn-success" ng-click="loginAsAdmin('9c09d301-8242-4320-bc02-90f2a286f2ef')">Click here</a> to navigate to <strong>admin application</strong> as though you were a <strong>test user</strong></p>
	<p class="lead"><a href="admin.html" class="btn btn-success" ng-click="loginAsAdmin('5808ca87-b262-4da8-ba22-9a574a5e98c3')">Click here</a> to navigate to <strong>admin application</strong> as though you were a <strong>super user</strong></p>
	<br><br>
	<h1><strong>Spanish version</strong></h1>
	<hr>
	<h3><strong>Parent Application</strong></h3>
	<p class="lead"><a href="index_es.html" class="btn btn-success" ng-click="loginAsStudent('9dbee232-138e-4717-a5f1-62e96c7a92e1')">Click here</a> to navigate to <strong>parent application</strong> as though you were a <strong>test user</strong></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="scripts/testing.js"></script>

</body>
</html>
